<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BitClip</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="lib/font-awesome-4.2.0/css/font-awesome.min.css">

  </head>
  <body ng-app="bitclip" ng-csp>
    <div ng-controller="headerController" class="headerBanner">
      <header-bar/>
    </div>
    <ul class="row headerTabs" ng-controller="navBarController">
      <li class="sendTab" ng-class="{'active': activeTab === 'send'}" ui-sref="send" ng-click="setActiveTab('send')">Send</li>
      <li class="receiveTab" ng-class="{'active': activeTab === 'receive'}" ui-sref="receive" ng-click="setActiveTab('receive')">Receive </li>
      <li class="historyTab" ng-class="{'active': activeTab === 'history'}" ui-sref="history" ng-click="setActiveTab('history')">History</li>
      <li class="marketTab" ng-class="{'active': activeTab === 'market'}" ui-sref="market" ng-click="setActiveTab('market')">Market</li>
    </ul>
    <div ui-view></div>

    <!-- Library dependencies -->
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="lib/angular-morph/dist/angular-morph.min.js"></script>
    <script src="btclib/bitcoinjs-min.js"></script>
    <script src="btclib/helloblock-min.js"></script>
    
    <!-- Client-side dependencies -->
    <script src="app.js"></script>
    <script src="receive/receive.controller.js"></script>
    <script src="receive/receive.factory.js"></script>
    <script src="header/header.controller.js"></script>
    <script src="header/header.directive.js"></script>
    <script src="header/header.factory.js"></script>
    <script src="send/send.controller.js"></script>
    <script src="send/send.factory.js"></script>
    <script src="history/history.controller.js"></script>
    <script src="history/history.factory.js"></script>
    <script src="market/market.controller.js"></script>
    <script src="market/market.factory.js"></script>
    <script src="utils/utilities.factory.js"></script>
  </body>
</html>
