<div class="receiveContainer">
  <div class="currentAddress">
      <h3>Current Address:</h3>
      <span><i class="fa fa-chevron-circle-right"></i>{{ currentAddress }}</span>
  </div>

  <div class="historyBox">

    <div class="historyHeader">
      Inbound transaction: 
      <i id="inbound" ng-class="{'fa fa-chevron-circle-right': true}" ></i>
      Outbound transaction:  
      <i id="outbound" ng-class="{'fa fa-chevron-circle-left': true}"></i>
    </div>

    <div class="historyTable">
      <table class="addressScrollbox"> 
          <tbody ng-repeat="trans in transactions">
          <tr>
            <td> <i class="inbound" ng-class="{'fa fa-chevron-circle-right': trans[0] === 'inbound'}"></i>     
                 <i class="outbound" ng-class="{'fa fa-chevron-circle-left': trans[0] === 'outbound'}"></i>
                 Amount: {{trans[1]}}
            </td> 
            <td colspan="2"> Date: {{trans[2] | date:'short'}} </td> 
          </tr>
          <tr>
            <td colspan="3"> 
              <i ng-if="trans[0] === 'inbound'">From: {{trans[3]}}</i>
              <i ng-if="trans[0] === 'outbound'">To: {{trans[3]}}</i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
