<div ng-if="destinationError" class="fx-fade-left fx-easing-cubic fx-speed-200 txMessagePopup errorMessagePopup">
  {{destinationError}}
</div>

<div ng-if="amountError" class="fx-fade-left fx-easing-cubic fx-speed-200 txMessagePopup errorMessagePopup">
  {{amountError}}
</div>

<label>Destination:</label>

<input ng-if="network" type="text" name="destination" placeholder="e.g. mjjeyn6Vs4TAtMFKJEwpMPJsAVysxL4nYG" ng-model="transactionDetails.destination" ng-pattern="/^[13][a-km-zA-HJ-NP-Z0-9]{26,33}$/" ng-class="{'has-error': sendForm.destination.$invalid && !sendForm.destination.$pristine, 'hasTimedError': destinationError}" required autofocus>

<input ng-if="!network"type="text" name="destination" placeholder="e.g. mjjeyn6Vs4TAtMFKJEwpMPJsAVysxL4nYG" ng-model="transactionDetails.destination" ng-pattern="/^[mn][a-km-zA-HJ-NP-Z0-9]{26,33}$/" ng-class="{'has-error': sendForm.destination.$invalid && !sendForm.destination.$pristine, 'hasTimedError': destinationError}" required autofocus>

<label>Amount:</label>

<input type="text" name="amount" placeholder="minimum 0.0001 BTC" ng-model="transactionDetails.amount" 
ng-pattern="/^(\d+\.?\d*|\.\d+)$/" ng-class="{'has-error': sendForm.amount.$invalid && !sendForm.amount.$pristine, 'hasTimedError': amountError}" required>

