<form ng-submit="document.getElementById('send').click()">
  <label>Destination:</label>
  <input type="text" name="destination" placeholder="Recipient address" ng-model="transactionDetails.destination" required autofocus>
  <label>Amount:</label>
  <input type="text" name="amount" placeholder="Number of bitcoins to send" ng-model="transactionDetails.amount" required>
</form>

<button ng-if="!confirmed" id="send" class="sendViewButton sendButton" ng-click="updateTransactionDetails(); morph();">Send</button>

<button ng-if="confirmed" class="sendViewButton morphButton send-confirm"  ng-click="sendPayment(amount); morph();">confirm</button>
<button ng-if="confirmed" class="sendViewButton morphButton send-cancel" ng-click="morph();">cancel</button>



