<div class="row">
  <div class="balanceDisplay col-md-6">
    <h4><span class="label label-primary">{{balanceMessage}}</span></h4>
  </div>
  <div class="col-md-6">
    <div class="settingsDropDown btn-group btn-group-xs">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-wrench"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li class="toggleNetwork" ng-if="isMainNet" ng-click="toggleNetwork()"><a href="#">Change to TestNet</a></li>
        <li class="toggleNetwork" ng-if="!isMainNet" ng-click="toggleNetwork()"><a href="#">Change to MainNet</a></li>
        <li class="divider"></li>
        <li ><a href="#">2-Factor Authentication</a></li>
        <li ><a href="#">Backup Wallet</a></li>
      </ul>
    </div>
  </div>
</div>

