<!-- <div class="row">
  <div class="balanceDisplay col-md-6">
    <h4><span class="label label-primary">{{balanceMessage}}</span></h4>
  </div>
  <div class="col-md-6">
    <div class="settingsDropDown btn-group btn-group-xs">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Setting
      </button>
      <ul class="dropdown-menu" role="menu">
        <li class="toggleNetwork" ng-if="isMainNet" ng-click="toggleNetwork()"><a href="#">Change to TestNet</a></li>
        <li class="toggleNetwork" ng-if="!isMainNet" ng-click="toggleNetwork()"><a href="#">Change to MainNet</a></li>
        <li class="divider"></li>
        <li ><a href="#">2-Factor Authentication</a></li>
        <li ><a href="#">Backup Wallet</a></li>
      </ul>
    </div>
  </div>
</div>

 -->
<div class="row banner">
  <ul>
    <li class="balanceDisplay btcBalance"><i class="fa fa-btc"></i> 0.01<!-- {{balanceMessage}} --></li>
    <li class="bitclipTitle"> BitClip </li>
    <li class="optionsNav settingsDropDown"><i ng-click="isCollapsed = !isCollapsed" class="fa fa-cog"></i>

      <ul ng-if="!isCollapsed" class="dropdown-menu" role="menu">
          <li> Options </li>
          <li class="toggleNetwork"><i class="fa fa-globe"></i> Network: <span ng-if="isMainNet">Main</span><span class="testNetwork" ng-if="!isMainNet">Test</span>

            <div class="onoffswitch">
              <input type="checkbox" name="onoffswitch" ng-click="toggleNetwork()" class="onoffswitch-checkbox" id="myonoffswitch" checked>
              <label class="onoffswitch-label" for="myonoffswitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"><i class="fa fa-bars"></i></span>
              </label>
            </div>
            <!-- <div class="togglePrat">
              <a ng-class="{toggleLeft:isMainNet" href="#"></a>
              O
              <a ng-class="{toggleRight:!isMainNet" href="#"></a>
            </div> -->
          </li>

          <li ><i class="fa fa-lock"></i> <a href="#"> Two-Factor Authentication</a></li>
          <li ><i class="fa fa-book"></i> <a href="#"> Backup Wallet</a></li>
        </ul>
      </li>
  </ul>

</div>



