<div class="viewContainer">
  <div class="currentAddress">
    <h3>Current Address:</h3>
    <span><i class="fa fa-chevron-circle-right"></i>{{ currentAddress }}</span>
  </div>
  <ul class="scrollbox">
    <h4 class="allAddressesHeader">All Addresses:</h4>
    <li ng-repeat="(address, balance) in allAddressesAndBalances" ng-dblclick="setAsCurrentAddress(address)" ng-class="{'currentAddressMatch': currentAddress === address}" ng-mouseenter="show = true" ng-mouseleave="show = false"><span ng-if="!show">{{ address | limitTo: 20 }}... <i class="fa fa-btc"></i> Bal: {{ balance }} BTC</span><span ng-if="show">{{ address }}</span></li>
  </ul>
  <button class="sendViewButton sendButton generateButton" ng-click="newAddress()">Generate Address</button>
</div>
