<div class="viewContainer">
  <div class="currentAddress">
    <h3>Current Address:</h3>
    <span><i class="fa fa-chevron-circle-right"></i>{{ currentAddress }}</span>
  </div>
  <ul class="scrollbox">
    <h4 class="allAddressesHeader">All Addresses:</h4>
    <li ng-repeat="addressAndBalance in allAddressesAndBalances" ng-dblclick="setAsCurrentAddress(addressAndBalance.address)" ng-class="{'currentAddressMatch': currentAddress === addressAndBalance.address}" ng-mouseenter="show = true" ng-mouseleave="show = false"><span ng-if="!show">{{ addressAndBalance.address | limitTo: 20 }}... <i class="fa fa-btc"></i> Bal: {{ addressAndBalance.balance }} BTC</span><span ng-if="show">{{ addressAndBalance.address }}</span></li>
  </ul>
  <button class="sendViewButton sendButton generateButton" ng-click="newAddress()">Generate Address</button>
</div>
